::ng-deep .modal-dark {
  .modal-content {
    background-color: #27293d;
    color: #ffffff;
  }

  .close {
    color: #ffffff;
  }

  .form-control {
    background-color: #1e1e2f;
    border-color: #2b3553;
    color: #ffffff;

    &:focus {
      border-color: #e14eca;
    }
  }
}

.bg-darker {
  background-color: #1e1e2f !important;
}

.card-header {
  .btn-round {
    margin: 0;
  }
}

.fancy-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #3498db;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
    transition: all 0.3s ease;
    font-weight: bold;
  }
  
  .fancy-title:hover {
    transform: scale(1.05);
  }
  
  .title-icon {
    margin-right: 10px;
  }
  
  .title-text {
    border-bottom: 2px solid #3498db;
    font-weight: bold;
  }